<div class="container bg-white">
  <h1 class="mt-5 mb-4 header text-primary text-center">BILAN COMPORTEMENTAL INDIVIDUEL</h1>

  <p class="text-center mt-4">Progression : <b>page 4 sur 7</b> </p>
  <div class="dots d-flex justify-content-center">
    <span class="blue"></span>
    <span class="blue"></span>
    <span class="blue"></span>
    <span class="blue"></span>
    <span class=""></span>
    <span class=""></span>
    <span class=""></span>
  </div>
  <h2 class="mt-4 mb-4 green-bg">Généralités</h2>

  <%= simple_form_for(@user_behaviour_result, method: :put, url: wizard_path) do |f| %>
    <p class="mt-4"><b>6. </b>Actuellement, au travail, vous connaissez les consignes de tri des déchets de votre structure.</p>
    <%= f.collection_radio_buttons :work_sorting_order, ["Pas du tout", "Un peu", "Moyennement", "Beaucoup",  "Tout à fait", "Non concerné"], :to_s, :to_s do |input| %>
      <label class="mx-2 mb-3">
        <%= input.radio_button %>
        <%= input.text %>
      </label>
    <% end %>
    <% if @user_behaviour_result.errors.include?(:work_sorting_order) %>
      <p class="has-error">La question 6 est obligatoire</p>
    <% end %>

    <p class="mt-4"><b>7. </b>Actuellement, au travail, vous appliquez les consignes de tri des déchets de votre structure.</p>
    <%= f.collection_radio_buttons :work_sorting_applied, ["Pas du tout", "Un peu", "Moyennement", "Beaucoup",  "Tout à fait", "Non concerné"], :to_s, :to_s do |input| %>
      <label class="mx-2 mb-3">
        <%= input.radio_button %>
        <%= input.text %>
      </label>
    <% end %>
    <% if @user_behaviour_result.errors.include?(:work_sorting_applied) %>
      <p class="has-error">La question 7 est obligatoire</p>
    <% end %>

    <p class="mt-4"><b>8. </b>Actuellement, au travail, vous pratiquez des gestes pour réduire votre production de déchets de fonctionnement.</p>
    <%= f.collection_radio_buttons :work_trash_reduction, ["Pas du tout", "Un peu", "Moyennement", "Beaucoup",  "Tout à fait", "Non concerné"], :to_s, :to_s do |input| %>
      <label class="mx-2 mb-3">
        <%= input.radio_button %>
        <%= input.text %>
      </label>
    <% end %>
    <% if @user_behaviour_result.errors.include?(:work_trash_reduction) %>
      <p class="has-error">La question 8 est obligatoire</p>
    <% end %>

    <p class="mt-4"><b>8.1 </b>Dites nous en plus</p>
    <%= f.input :work_trash_reduction_comment, label: false, placeholder: "Réponse courte" %>

    <p class="mt-4"><b>9. </b>Actuellement, chez vous, vous connaissez les consignes de tri des déchets de votre territoire.</p>
    <%= f.collection_radio_buttons :home_sorting_order, ["Pas du tout", "Un peu", "Moyennement", "Beaucoup",  "Tout à fait", "Non concerné"], :to_s, :to_s do |input| %>
      <label class="mx-2 mb-3">
        <%= input.radio_button %>
        <%= input.text %>
      </label>
    <% end %>
    <% if @user_behaviour_result.errors.include?(:home_sorting_order) %>
      <p class="has-error">La question 9 est obligatoire</p>
    <% end %>

    <p class="mt-4"><b>10. </b>Actuellement, chez vous, vous appliquez les consignes de tri des déchets de votre territoire.</p>
    <%= f.collection_radio_buttons :home_sorting_applied, ["Pas du tout", "Un peu", "Moyennement", "Beaucoup",  "Tout à fait", "Non concerné"], :to_s, :to_s do |input| %>
      <label class="mx-2 mb-3">
        <%= input.radio_button %>
        <%= input.text %>
      </label>
    <% end %>
    <% if @user_behaviour_result.errors.include?(:home_sorting_applied) %>
      <p class="has-error">La question 10 est obligatoire</p>
    <% end %>

    <p class="mt-4"><b>11. </b>Actuellement, chez vous, vous pratiquez des gestes pour réduire votre production de déchets.</p>
    <%= f.collection_radio_buttons :home_trash_reduction, ["Pas du tout", "Un peu", "Moyennement", "Beaucoup",  "Tout à fait", "Non concerné"], :to_s, :to_s do |input| %>
      <label class="mx-2 mb-3">
        <%= input.radio_button %>
        <%= input.text %>
      </label>
    <% end %>
    <% if @user_behaviour_result.errors.include?(:home_trash_reduction) %>
      <p class="has-error">La question 11 est obligatoire</p>
    <% end %>
    <p class="mt-4"><b>11.1 </b>Dites nous en plus</p>
    <%= f.input :home_trash_reduction_comment, label: false, placeholder: "Réponse courte" %>

    <div class="d-flex justify-content-around mb-5 mt-4">
      <%= link_to "< Précédent", previous_wizard_path, class:"btn btn-primary bold" %>
      <%= f.button :submit, "Suivant >", class:"btn btn-primary bold" %>
    </div>
  <% end %>

</div>
