<div class="container bg-white">
  <h1 class="mt-5 mb-4 header text-primary text-center">BILAN COMPORTEMENTAL INDIVIDUEL</h1>

 <p class="mb-0">Certaines questions porteront sur vos pratiques sur votre lieu de travail ainsi qu'à votre domicile. L'intérêt étant de connaitre le potentiel de transmission de vos connaissances et pratiques personnel vers votre lieu du travail et inversement.
Pour chacune des propositions suivantes, veuillez indiquer dans quelle mesure elle s'applique à vous ou dans quelle mesure vous en êtes d’accord, selon l’échelle suivante :</p>
  <ul>
    <li>Pas du tout</li>
    <li>Un peu</li>
    <li>Moyennement</li>
    <li>Beaucoup</li>
    <li>Tout à fait</li>
    <li> Non concerné</li>
  </ul>

  <p class="text-center mt-4">Progression : <b>page 1 sur 6</b> </p>
  <div class="dots d-flex justify-content-center">
    <span class="blue"></span>
    <span class=""></span>
    <span class=""></span>
    <span class=""></span>
    <span class=""></span>
  </div>
  <h2 class="mt-4 mb-4 green-bg">Généralités</h2>

  <%= simple_form_for(@user_behaviour_result, method: :put, url: wizard_path) do |f| %>
    <p class="mt-4"><b>1. </b>Depuis quand êtes-vous impliqué·e personnellement dans le Défi Zéro Déchet des Pros ?</p>
    <%= f.collection_radio_buttons :starting_month, ["Janvier", "Février", "Avril", "Mai",  "Juin"], :to_s, :to_s do |input| %>
      <label class="mx-2 mb-3">
        <%= input.radio_button %>
        <%= input.text %>
      </label>
    <% end %>
    <% if @user_behaviour_result.errors.include?(:starting_month) %>
      <p class="has-error">La question 1 est obligatoire</p>
    <% end %>

    <div class="d-flex justify-content-end mb-5 mt-4">
      <%= f.button :submit, "Suivant >", class:"btn btn-primary bold" %>
    </div>
  <% end %>

</div>
