<li data-comment-id="<%= comment.id %>">
  <p><%= comment.content %> - <%= comment.author %></p>
  <% if comment.user == current_user %>
    <%= link_to "Modifier", edit_comment_path(comment) %>
    <%= link_to "Supprimer", comment_path(comment), method: :delete, remote: true %>
  <% end %>
</li>
