<%= link_to "https://analytics.google.com/analytics/web", target: :blank do %>
  <%= image_tag "analytics.png", width: 128 %>
  <p>Google Analytics</p>
<% end %>
<%= link_to "https://dashboard.heroku.com/apps", target: :blank do %>
  <%= image_tag "heroku.png", width: 128 %>
  <p>Heroku</p>
<% end %>
<%= link_to "https://app.sendgrid.com/login", target: :blank do %>
  <%= image_tag "sendgrid.png", width: 150 %>
  <p>Sendgrid</p>
<% end %>
<%= link_to "https://fr.sendinblue.com/users/login", target: :blank do %>
  <%= image_tag "sendinblue.png", width: 128 %>
  <p>Heroku</p>
<% end %>
<%= link_to "https://defizerodechets-staging.herokuapp.com", target: :blank do %>
  <%= image_tag "logo.svg", width: 128 %>
  <p>Staging</p>
<% end %>
