
<div class="bg-white container viewport space-top mb-5">
  <h1 class="mt-5 mb-4 header text-primary text-center">Ajouter un·e collaborateur·rice</h1>
  <h3 class= "pt-3 mt-5"></h3>
  <%= simple_form_for @user do |f|%>
    <div class="row">
      <% if current_user.admin? %>
        <div class="col-12">
          <p>Structure</p>
          <%= f.input :company_id, collection: Company.all.map { |company| [company.name, company.id] }, label_method: :first, value_method: :last, label: false %>
        </div>
      <% end %>
      <div class="col-12 col-md-3">
        <%= f.input :civility, prompt: 'Civilité*', collection: ["Mme", "M."], as: :select, label: false  %>
      </div>
      <div class="col-12 col-md-3">
        <%= f.input :first_name, placeholder: 'Prénom*', label: false  %>
      </div>
      <div class="col-12 col-md-3">
        <%= f.input :last_name, placeholder: 'NOM*', label: false  %>
      </div>
      <div class="col-12 col-md-3">
        <%= f.input :role, placeholder: 'Fonction*', label: false  %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <%= f.input :telephone, placeholder: 'Téléphone*', label: false  %>
      </div>
      <div class="col-12 col-md-6">
        <%= f.input :email, placeholder: 'Email*', label: false  %>
      </div>

      <%= f.input :created_by_referent, as: :hidden, input_html: {value: true } %>
    </div>
    <div class="d-flex justify-content-center">
      <%= f.button :submit, "Créer un compte", class: 'btn btn-primary text-white bold mr-3 mb-3' %>
      <%= link_to "Retour", donnees_path, class:"btn btn-outline-primary ml-3 mb-3" %>
    </div>
  <% end %>
</div>
