<div id="carouselExampleSlidesOnly" class="carousel slide position-fixed" data-ride="carousel" data-interval="7000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "gestion", class:"d-block w-100", alt:"First slide" %>
      <div class="carousel-caption">
        <%= link_to "/pourquoi", class:"btn btn-secondary text-white responsive-btn" do %>
        <h5>140kg de déchets par bureau</h5>
        <p class="mb-0">C'est trop pour vous ?</p>
        <% end %>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "mecenat", class:"d-block w-100", alt:"Second slide" %>
      <div class="carousel-caption">
        <div class="d-md-block">
          <%= link_to "/soutenir", class:"btn btn-secondary text-white responsive-btn" do %>
          <h5>Le Défi a besoin de vous !</h5>
          <p class="mb-0">Soutenez le projet</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "mobilisation", class:"d-block w-100", alt:"Third slide" %>
      <div class="carousel-caption d-md-block">
        <%= link_to "/comment", class:"btn btn-secondary text-white responsive-btn" do %>
        <h5>Relevez le Défi ! </h5>
        <p class="mb-0">Réduisez vos déchets de 10%</p>
        <% end %>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
