<footer>
  <div class="hint-border-primary"></div>
  <div class=" footer d-flex flex-column flex-lg-row align-items-center p-3 text-white">

    <%= link_to "/partenaires" do %>
      <div class="d-flex flex-column justify-content-center align-items-center mx-3 ekolo-margin">
        <div class="mb-1">Qui sommes-nous ?</div>
        <div>
          <%= image_tag "ekologeek.png", width: 129, id:"logo-footer" %>
        </div>
      </div>
    <% end %>

    <div class="footer-content flex-grow-1 text-center">
      <div class=" d-flex justify-content-center">
        <%= link_to "Plan du site", plan_path, class:"mr-2" %>
        -
        <%= link_to "Politique de confidentialité", politique_path,class:"ml-2" %>
      </div>
      <div class="d-flex justify-content-center">
        ©<%= Time.now.year %>
        -
        <%= link_to "Association Ekolo[geek]", partenaires_path, class:"ml-1"%>
      </div>
    </div>

    <div class="my-4 social-links">
      <div class="d-flex justify-content-around">
        <%= link_to "https://www.instagram.com/ekologeek/", class:"footer-link mx-3", target:"_blank" do %>
          <%= inline_svg "instagram.svg", width:"30" %>
        <% end %>
        <%= link_to "https://www.facebook.com/DefiZeroDechetdesPros/",class:"footer-link mx-3", target:"_blank" do %>
          <%= inline_svg "facebook.svg", width:"30" %>
        <% end %>
        <%= link_to "https://www.youtube.com/user/ekologeek/",class:"footer-link mx-3", target:"_blank" do %>
          <%= inline_svg "youtube.svg", width:"30" %>
        <% end %>
      </div>
    </div>

  </div>
</footer>
