<nav class="navbar navbar-expand-lg justify-content-end position-fixed" id="nav_bar">
  <div class="navbar-logo align-items-center justify-content-center" id="nav_logo">
    <%= link_to root_path, class:"navbar-brand" do %>
      <%= inline_svg "logo", width:50, id:"logo" %>
    <% end %>
  </div>
  <button class="navbar-toggler justify-content-end ml-2" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span><%=inline_svg "bars-solid", class:"navbar-toggler-icon text-white"%></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
    <ul class="navbar-nav mr-5">
      <li class="nav-item m-2">
        <%= link_to root_path, class:"navbar-brand home-nav-link" do %>
          <%= inline_svg "home", width: 30 %>
        <% end %>
      </li>
      <li class="nav-item m-2 dropdown">
        <a class="nav-link dropdown-toggle" href="/comment" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">
          COMMENT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Les objectifs du défi", comment_path(anchor: "comment1"), class:"dropdown-item text-primary"%>
          <%= link_to "Les structures éligibles", comment_path(anchor: "comment2"), class:"dropdown-item text-primary" %>
          <%= link_to "Les déchets concernés", comment_path(anchor: "comment2"), class:"dropdown-item text-primary" %>
          <%= link_to "Comment ça se passe ?", comment_path(anchor: "comment4"), class:"dropdown-item text-primary" %>
          <%= link_to "Planning", comment_path(anchor: "comment5"), class:"dropdown-item text-primary" %>
          <%= link_to "Combien ça coûte ?", comment_path(anchor: "comment6"), class:"dropdown-item text-primary" %>
        </div>
      </li>
      <li class="nav-item m-2 dropdown">
        <a class="nav-link dropdown-toggle" href="/pourquoi" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">
          POURQUOI
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Pourquoi réduire ses déchets ?", pourquoi_path(anchor: "pourquoi1"), class:"dropdown-item text-primary"%>
          <%= link_to "Pourquoi mon entreprise ?", pourquoi_path(anchor: "pourquoi2"), class:"dropdown-item text-primary"%>
        </div>
      </li>
      <li class="nav-item m-2 dropdown">
        <a class="nav-link dropdown-toggle" href="/soutenir" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">
          SOUTENIR
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Pourquoi nous soutenir ?", "/soutenir", class:"dropdown-item text-primary", id:"soutenir1"%>
          <%= link_to "Mécénat", "/soutenir", class:"dropdown-item text-primary", id:"soutenir2"%>
          <%= link_to "Don", "/soutenir", class:"dropdown-item text-primary", id:"soutenir3"%>
          <%= link_to "Partager", "/soutenir", class:"dropdown-item text-primary", id:"soutenir4"%>
          <%= link_to "Témoigner", "/soutenir", class:"dropdown-item text-primary", id:"soutenir5"%>
        </div>
      </li>
      <li class="nav-item m-2">
        <%= link_to "S'INSCRIRE", "/inscription", class:"nav-link text-light-gray" %>
      </li>
      <!-- <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class:"nav-link" do %>
          <%= t(".sign_out", default: "Log out") %> <%= inline_svg "sign-out", width: 30, class:"ml-2 text-body-bg" %>
        <% end %>
      </li> -->
    </ul>
  </div>
</nav>
