<nav class="navbar navbar-expand-lg justify-content-end" id="nav_bar">
  <div class="navbar-logo align-items-center justify-content-center" id="nav_logo">
    <%= link_to root_path, class:"navbar-brand" do %>
      <%= inline_svg "logo", width:50 %>
    <% end %>
  </div>
  <button class="navbar-toggler justify-content-end ml-2" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span><%=inline_svg "bars-solid", class:"navbar-toggler-icon"%></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
    <ul class="navbar-nav mr-5">
      <li class="nav-item m-2">
        <%= link_to root_path, class:"navbar-brand home-nav-link" do %>
          <%= inline_svg "home", width: 30 %>
        <% end %>
      </li>
      <li class="nav-item m-2 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Comment
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Les objectifs du défi", "/comment", class:"dropdown-item", id:"comment1"%>
          <%= link_to "Les structures éligibles", "/comment", class:"dropdown-item", id:"comment2"%>
          <%= link_to "Les déchets concernés", "/comment", class:"dropdown-item", id:"comment3"%>
          <%= link_to "Comment ça se passe ?", "/comment", class:"dropdown-item", id:"comment4"%>
          <%= link_to "Planning", "/comment", class:"dropdown-item", id:"comment5"%>
          <%= link_to "Combien ça coûte ?", "/comment", class:"dropdown-item", id:"comment6"%>
        </div>
      </li>
      <li class="nav-item m-2 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pourquoi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Pourquoi réduire ses déchets ?", pourquoi_path(anchor: "pourquoi1"), class:"dropdown-item"%>
          <%= link_to "Pourquoi mon entreprise ?", pourquoi_path(anchor: "pourquoi2"), class:"dropdown-item"%>
        </div>
      </li>
      <li class="nav-item m-2 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Soutenir
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Pourquoi nous soutenir ?", "/soutenir", class:"dropdown-item", id:"soutenir1"%>
          <%= link_to "Mécénat", "/soutenir", class:"dropdown-item", id:"soutenir2"%>
          <%= link_to "Don", "/soutenir", class:"dropdown-item", id:"soutenir3"%>
          <%= link_to "Partager", "/soutenir", class:"dropdown-item", id:"soutenir4"%>
          <%= link_to "Témoigner", "/soutenir", class:"dropdown-item", id:"soutenir5"%>
        </div>
      </li>
      <li class="nav-item m-2">
        <%= link_to "S'inscrire", "/inscription", class:"nav-link text-light-gray" %>
      </li>
      <!-- <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class:"nav-link" do %>
          <%= t(".sign_out", default: "Log out") %> <%= inline_svg "sign-out", width: 30, class:"ml-2 text-body-bg" %>
        <% end %>
      </li> -->
    </ul>
  </div>
</nav>
