<div class="wrapper">
  <div class="container">
    <div class="container-soutenir">
      <h1 class="header text-primary pt-5 text-center">DONNÉES</h1>

      <%= link_to "Réaliser votre diagnostic", new_trash_diagnostic_path, class:"btn btn-primary" %>
      <%= link_to "Saisir un relevé", new_collect_path, class:"btn btn-primary" %>
      <%= link_to "Ajouter un bac", new_bin_path, class:"btn btn-primary" %>
      <% @collects.each do |collect| %>
        <p><%= collect.bin.name %>
        <%= collect.start_at %>
        <%= collect.end_at %>
        <%= collect.filled_rate %>
        <%= collect.end_at %>
        <%= link_to "Modifier", edit_collect_path(collect), class: "btn btn-primary" %>
        <%= link_to "Supprimer", collect_path(collect),
                                method: :delete,
                                class: "btn btn-danger",
                                data: { confirm: "Êtes-vous sûr ?"}
        %>
      </p>
      <% end %>

    </div>
  </div>
</div>
