<div class="wrapper">
  <div class="container">
    <div class="container-soutenir">
      <h1 class="header text-primary pt-5 text-center">DONNÉES</h1>
      <h2 class="green-bg mt-5">Diagnostics</h2>
      <p class='mb-0 mt-4'>Les diagnostics doivent nécessairement être réalisés avant le 15 février 2019. Au-delà de cette date, ils ne seront plus modifiables.</p>
      <p>Cliquez sur les boutons ci-dessous pour accéder aux pages de diagnostics :</p>
      <p> <%= link_to "Diagnostic technique Structure", new_trash_diagnostic_path, class:"btn btn-primary bold" %></p>
      <h2 class="green-bg mt-5">Déchets de fonctionnement de votre structure</h2>
      <div class="d-flex justify-content-around mt-4">
        <%= link_to "Saisir un relevé", new_collect_path, class:"btn btn-primary bold" %>
        <%= link_to "Gérer les bacs", new_bin_path, class:"btn btn-primary bold" %>
      </div>
      <table class="mt-4">
        <thead>
          <tr>
            <th> Type de bacs</th>
            <th> Début de période de relevée</th>
            <th> Fin de période de relevée</th>
            <th> Taux de remplissage</th>
            <th>Commentaire</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @collects.each do |collect| %>
          <tbody>
            <td  class="gray" ><%= collect.bin.bin_type.name %></td>
            <td><%= collect.start_at.strftime("%d/%m/%y") %></td>
            <td  class="gray" ><%= collect.end_at.strftime("%d/%m/%y") %></td>
            <td><%= collect.filled_rate %>%</td>
            <td><%= collect.comment %></td>
            <td  class="gray" ><%= link_to "Modifier", edit_collect_path(collect), class: "btn btn-primary" %></td>
            <td>
              <%= link_to "Supprimer", collect_path(collect),
                                      method: :delete,
                                      class: "btn btn-danger",
                                      data: { confirm: "Êtes-vous sûr ?"}
              %>
            </td>
          </tbody>
        <% end %>
      </table>
      <h2 class="green-bg mt-5">Utilisateur·ice·s de votre structure</h2>
      <p><%= link_to "Ajouter un compte", new_user_path, class:"btn btn-primary mt-4 bold" %></p>
      <table class="mt-4 mb-5">
        <thead>
          <tr>
            <th>Civilité</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Poste</th>
            <th>Téléphone</th>
            <th>Email</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <td  class="gray" ><%= user.civility %></td>
          <td><%= user.first_name %></td>
          <td  class="gray" ><%= user.last_name %></td>
          <td><%= user.role %></td>
          <td><%= user.telephone %></td>
          <td><%= user.email %></td>
        </tbody>
        <% end %>
      </table>

    </div>
  </div>
</div>

