<div class="wrapper">
  <div class="container">
    <div class="container-soutenir">
      <h1 class="header text-primary pt-5 text-center">Faire un relevé</h1>
      <%= simple_form_for @collect do |f| %>

        <p><b>1.</b>Choisir un bac :</p>
        <p><em>Si vous n'avez pas encore créé le bac pour lequel vous souhaitez faire le relevé, créez le <%= link_to "ici", new_bin_path %></em></p>
        <%= f.input :bin_id, collection: @bins.map {|bin| [bin.bin_type.name, bin.id] } , label_method: :first, value_method: :last, label: false %>
        <p><b>2.</b>Relevé du : </p>
        <%= f.input :start_at, label: false %>
        <p>au</p>
        <%= f.input :end_at, label: false %>
        <p><b>3.</b>Taux de remplissage du bac</p>
        <%= f.input :filled_rate, collection: [["0%", 0], ["25%", 25], ["50%", 50], ["75%", 75], ["100%", 100], ["125%", 125], ["150%", 150]], label_method: :first, value_method: :second, label: false %>
        <p><b>4.</b>Commentaire</p>
        <%= f.input :comment, label: false %>
        <div class="">
          <%= f.button :submit, "Enregistrer", class: "btn btn-primary bold" %>
          <%= link_to "Retour", donnees_path, class: "btn btn-outline-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
