<div class="col-12 col-sm-4 col-md-3" data-answer-id="<%= answer.id %>">
  <div class="text-center green-bg mb-2">
    <p class="name m-0"> <b><%= "#{answer.user.first_name.capitalize} #{answer.user.last_name.upcase}".truncate(19, omission: '...') %> </b></p>
    <div class="time minus"><%= "#{time_ago_in_words answer.created_at} -  #{answer.user.company.name}".truncate(24, omission: '...') %></div>
  </div>
  <% if answer.user == current_user %>
    <div class="d-flex justify-content-center mb-2">
      <%= link_to "Modifier", edit_answer_path(answer), class:"tag mr-1" %>
      <%= link_to "Supprimer", answer_path(answer), method: :delete, class:"tag ml-1" %>
    </div>
  <% end %>
</div>
<div class="col-12 col-sm-8 col-md-9">
  <div class="card p-3 mb-3">
    <%= sanitize answer.content %>
  </div>
</div>
