<div class="wrapper">
  <div class="container bg-white my-5">
    <div id="comment1"></div>
    <h1 class="header text-primary mb-5 text-center pt-5">Comment</h1>
    <div class="header-padding-comment" >
      <div class="row">
        <div class="col-lg-6">
          <h2 class="green-bg">Les objectifs du Défi</h2>
          <p class="text">Le Défi consiste en l'<b>accompagnement structurel et individuel</b> des établissements participants dans <b>l’étude et la mise en place de solutions</b> techniques, organisationnelles et comportementales pour réduire leurs déchets.</p>
          <ul class="list mb-5 bullet-custom">
            <li class="my-2 ml-lg-4">
              <strong>Réduire la production de déchets de fonctionnement de 10%</strong>
            </li>
            <li class="my-2 ml-lg-4">
              <strong>Mettre en place au moins 5 actions réalisées par la majorité des employés</strong>
            </li>
            <li class="my-2 ml-lg-4">
              Réduire les coûts de gestion des déchets
            </li>
            <li class="my-2 ml-lg-4">
              Développer la culture d’établissement autour des déchets
            </li>
            <li class="my-2 ml-lg-4">
              Augmenter la valorisation matière, organique voire énergétique des déchets produits
            </li>
            <li class="my-2 ml-lg-4">
              Valoriser publiquement les démarches exemplaires des établissements participants
            </li>
            <li class="my-2 ml-lg-4">
              Donner une nouvelle représentation positive des déchets comme ressources
            </li>
          </ul>
          <div id="comment2"></div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <%= image_tag "objectifs.jpg", width: 400, class:"header-padding-comment-image comment-picture" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
          <%= image_tag "carte.png", width: 400, class:"header-padding-comment-image comment-picture" %>
        </div>
      </div>
      <div class="col-lg-6">

        <div id="comment4"></div>
        <div class="mt-5">
          <h2 class="green-bg" >Les déchets concernés</h2>
          <p class="text">
            Emballages (bouteilles, cannettes etc), fournitures de bureau (papiers, stylos etc), matériel informatique (ordinateurs, téléphones etc), vaisselle (gobelets de café, verre en plastique pour la fontaine à eau etc), biodéchets (marc de café etc), mobilier, mégots, ampoules, piles, cartouches d'encre, produits d'entretien, cartons, palettes...
          </p>
        </div>
        <h2 class="green-bg" >Les structures éligibles</h2>
        <div class="text">
          <p class="mb-2">Tout professionnel souhaitant travailler sur ses déchets de fonctionnement est le bienvenu : <b>public ou privé</b>, quelque soit son activité ou sa taille.
          Pour ce premier Défi, les structures participantes doivent résider dans <b>le territoire de Bordeaux Métropole</b>.</p>
          <p class="m-0">L'objectif est d'étendre le Défi à de nouveaux territoires.</p>
          <p class="m-0">Vous aimeriez participer mais n'êtes pas dans la zone géographique concernée ? </p>
          <p>
            <a class="btn btn-primary text-white mt-2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Contactez nous !
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <%= render "contact-form" %>
            </div>
          </div>
        </div>
      </div>
      </div>
    <div class="mt-5">
      <h2 class="green-bg">Comment ça se passe ?</h2>
      <h5 class="mb-2 mt-3">Collecte de données</h5>
      <p>Sur une durée de 6 mois, les structures devront <b>mesurer</b> régulièrement leur <b>production de déchets</b> et évaluer leurs <b>comportement</b>, en remplissant des formulaires sur ce site (espace participant). Elles pourront ainsi visualiser leur <b>progression</b> et leur <b>classement</b> par rapport aux autres.</p>
      <h5 class="mb-2 mt-3">Activités collectives</h5>
      <ul class="list mb-2 bullet-custom">
        <li class="my-2 ml-lg-4">
          <b>Ateliers-formations échanges</b> (enjeux-problématiques, causes-conséquences, acteurs de la filière, réglementation, solutions globales, locales et individuelles, avancement dans le défi…)
        </li>
        <li class="my-2 ml-lg-4">
          <b>Rencontres et visites</b> d’acteurs sur site (installations techniques de prévention et gestion des déchets, établissements exemplaires…) et retours d'expériences hors-site de pairs.
        </li>
        <li class="my-2 ml-lg-4">
          <b>Ateliers pratiques</b> (outils de communication-sensibilisation, fabrication de produits…)
        </li>
        <li class="my-2 ml-lg-4">
          Serious game pour adultes sur les déchets (jeu de société, grand jeu, animation ludique…)
        </li>
        <li class="my-2 ml-lg-4">
          Durant le défi, des "<b>sous-défis</b>" facultatifs sont proposés aux établissements afin de leur offrir une autre forme de stimulation pour agir concrètement en interne sur les déchets
        </li>
      </ul>
      <div id="comment5"></div>
      <h5 class="mb-2 mt-3">Accompagnement individuel</h5>
      <p>Un suivi régulier sera effectué avec chaque structure pour évaluer sa progression dans la démarche et l'accompagner dans la mise en place des actions : revue des données collectées, échanges par mail et téléphone.</p>
    </div>
    <div id="comment6"></div>
    <div >
      <h2 class="mb-2 mt-5 green-bg" >Planning</h2>
      <div class="d-flex justify-content-center align-items-center my-5">
        <%= image_tag "Frise.png", style:"width: 100%", class:"px-lg-5" %>
      </div>
    </div>
    <div>
      <h2 class="mb-2 mt-5 green-bg" >Combien ça coûte ?</h2>
      <p>La participation au Défi comprend un <b>prix forfaitaire</b> de 150€, <b>plus</b> un tarif qui dépend de la taille de votre établissement : 10€ par salarié.e.</p>
      <h5 class="my-4 ml-3">Exemples :</h5>
      <ul class="list bullet-custom  bullet-secondary no-margin">
        <li class="my-2 ml-lg-4">
          mon organisation comprend 10 employés, la participation au Défi sera de 150+10x10 = 250€
        </li>
        <li class="mt-2 ml-lg-4 padding">
          mon organisation comprend 100 employés, la participation au Défi sera de 150+10x100 = 1150€
        </li>
      </ul>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
