<div class="wrapper down">
  <div class="container">
    <div class="container-ekologeek bg-white container-padding my-5">
      <h2 class="header text-primary text-center pt-5 mt-5">Ekolo[geek]</h2>
      <h4 class="mb-5 text-center">Le Défi Zéro Déchet des Pros est porté par l'<%= link_to "association Ekolo[geek]", "http://www.ekologeek.com", target: :blank, class:"cool-link" %></h4>

      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex flex-column justify-content-center align-items-center h-100 mb-3">
            <%= image_tag "ekologeek-stand.jpg", width: 300, class:"header-padding-comment-image" %>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
          <div class="text">
            <p class="mb-0">Depuis plus de 10 ans, notre association
            <strong>sensibilise et mobilise</strong> le jeune, grand public et les professionnels aux <strong>éco-gestes</strong> (déchets, eau, énergie, consommation responsable) sur le web et sur le terrain.</p>
            <p class="mb-0">Avec notre stand animé, nous participons à
            plus d'une <strong>quarantaine d'événements par an</strong>, ainsi qu'à des temps périscolaires (TAP). L'association compte 2 salarié·e·s, 1 volontaire en Service
            Civique et une quarantaine de bénévoles.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 d-flex align-items-center pt-3">
          <div class="text">
            <p class="mb-0">
              Depuis 2016, nous accompagnons également des <strong>professionnels dans leur démarche d'éco-responsabilité</strong> interne. Par exemple, à la <strong><%= link_to "mairie du Bouscat", "http://www.bouscat.fr/", target: :blank, class:"cool-link" %></strong>  nous avons accompagné  des « agents référents » sur le thème de l’économie circulaire, avec en 2017 cinq ateliers-formations, la visite d'une ressourcerie, et en 2018 nous continuons sur le thème des changements de comportements sur l'énergie et les déchets.
            </p>
            <p>
              En 2016-2017, nous avons été <strong>missionnés par <%= link_to "Enedis", "https://www.enedis.fr/", target: :blank, class:"cool-link" %></strong> Aquitaine-Nord pour <strong>étudier l’impact de la consommation d’énergie sur certain·e·s de leur client·e·s </strong> qui ont été accompagné·e·s par les Volontaires de la Transition Energétique (VTE) d'<%= link_to "Unis-Cité", "https://www.uniscite.fr/", target: :blank, class:"cool-link" %>.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex flex-column justify-content-center align-items-center h-100 mb-3">
            <%= image_tag "ekologeek-accompagnement.jpg", width: 300, class:"header-padding-comment-image" %>
          </div>
        </div>
      </div>

      <div class="h-100 p-3 d-flex flex-column justify-content-center align-items-center para-0">
        <p><strong>Association loi 1901 reconnue d'intérêt général</strong></p>
        <p>Maison de la Nature et de l'Environnement de Bordeaux-Aquitaine</p>
        <p> 3 rue de Tauzia 33800 BORDEAUX</p>
        <p>
          <%= link_to "https://www.ekologeek.com", target: :blank do %>
            <%= image_tag "ekologeek.png", width: 300, class:"header-padding-comment-image" %>
          <% end %>
        </p>
      </div>

      <div class="partenaires">
        <h2 class="header text-primary text-center mt-5">Partenaires</h2>
        <h4 class="mb-4 text-center">
          Ce projet peut se développer grâce au soutien de nos partenaires :
        </h4>
        <div class="row d-flex text-align-center justify-content-center">
          <div class="col-12 col-sm-4 col-lg-2 text-center mb-4 d-flex align-items-center justify-content-center">
            <%= link_to "https://www.ademe.fr/", target: :blank do %>
              <%= image_tag "ADEME.png", height: 100 %>
            <% end %>
          </div>
          <div class="col-12 col-sm-4 col-lg-2 text-center mb-4 d-flex align-items-center justify-content-center">
            <%= link_to "http://www.bordeaux-metropole.fr/", target: :blank do %>
              <%= image_tag "metropole.svg", height: 100 %>
            <% end %>
          </div>
          <div class="col-12 col-sm-4 col-lg-2 text-center mb-4 d-flex align-items-center justify-content-center">
            <%= link_to "http://www.bordeaux-metropole.fr/", target: :blank do %>
              <%= image_tag "region.png", height: 100 %>
            <% end %>
          </div>

          <div class="col-12 col-sm-4 col-lg-2 text-center mb-4 d-flex align-items-center justify-content-center">
            <%= link_to "https://www.stop-dechets.fr/territoire-zero-dechets-zero-gaspillage", target: :blank do %>
              <%= image_tag "territoire-ZDZG.svg", height: 100 %>
            <% end %>
          </div>
          <div class="col-12 col-sm-4 col-lg-2 text-center mb-4 d-flex align-items-center justify-content-center">
            <%= link_to "https://leanature.com/", target: :blank do %>
              <%= image_tag "lea-nature.png", width: 100 %>
            <% end %>
          </div>
        </div>

        <div class="row d-flex text-align-center justify-content-center pb-5">
          <div class="col-12 col-sm-4 col-lg-2 text-center mb-4 pr-2 d-flex align-items-center justify-content-center">
            <%= link_to "https://bordeauxgironde.cci.fr/", target: :blank do %>
              <%= image_tag "CCI.png", height: 100 %>
            <% end %>
          </div>
          <div class="col-12 col-sm-4 col-lg-2 text-center mb-4 pr-2 d-flex align-items-center justify-content-center">
            <%= link_to "https://www.cebx.fr/", target: :blank do %>
              <%= image_tag "club-entreprises.svg", height: 100 %>
            <% end %>
          </div>
          <div class="col-12 col-sm-4 col-lg-2 text-center mb-4 pr-2 d-flex align-items-center justify-content-center">
            <%= link_to "https://www.cebx.fr/", target: :blank do %>
              <%= image_tag "GMAI.png", height: 100 %>
            <% end %>
          </div>
          <div class="col-12 col-sm-4 col-lg-4 text-center mb-4 d-flex align-items-center justify-content-center">
            <%= link_to "https://www.cebx.fr/", target: :blank do %>
              <%= image_tag "ecoindustries.png", width: 100 %>
            <% end %>
          </div>
        </div>
        <div class="call-action">
          <%= link_to "Vous aussi, soutenez le projet !", '/soutenir', class:"btn btn-primary smaller-font" %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
