<div class="wrapper h-100">
  <div class="container">
    <div id="pourquoi1"></div>
    <h1 class="header text-primary text-center pt-5 mt-5 mb-0">Pourquoi</h1>
    <div class="title header-padding-pourquoi" >
      <h2 class="green-bg"> Réduire nos déchets pro </h2>
    </div>

    <div class="row">
      <div class="col-12 pl-2 pr-2 col-md-6 col-lg-4">
        <figure class="card card-flip">

          <div class="card card-size">
            <div class="card-img-top d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(<%= image_path("environnement.jpg")%>)">
              <h3 class="card-title">Environnement</h3>
            </div>
            <div class="card-body">
              <div class="card-text fact">
                <p class="citation"> <strong> 140 kg de déchets / an </strong> en moyenne sont produits par un·e salarié·e de bureau</p>
                <p class="source"><em>Source : ADEME 2017</em></p>
              </div>
            </div>
          </div>

          <div class="card card-size">
            <div class="card-body">
              <h3 class="card-title">Environnement </h3>
              <div class="card-text text">
                <p>Les solutions actuelles pour traiter les déchets ultimes ne sont pas optimales (<strong>enfouissement et incinération</strong>). </p>
                <p>Le <strong>recyclage</strong> consomme aussi beaucoup de ressources naturelles (énergie, eau...)</p>
                <p><strong>La réduction des déchets à la source</strong> réduits les impacts environnementaux (ressources naturelles, pollutions...)</p>
                <p>Le <strong>Zéro Déchet</strong> (ZD) est une démarche ayant pour objectif de réduire vos déchets autant que possible.</p>
              </div>
            </div>
          </div>
        </figure>
      </div>

      <div class="col-12 pl-2 pr-2 col-md-6 col-lg-4">
        <figure class="card card-flip">
          <div class="card card-size">
            <div class="card-img-top  d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url(<%= image_path("management.jpg")%>)">
              <h3 class="card-title">Management</h3>
            </div>
            <div class="card-body">
              <div class="card-text fact">
                <p class="citation"><strong> 77% des salariés augmentent leur fierté d'appartenance</strong> grâce au Développement Durable</p>
                <p class="source"><em>Source : Gallup 2011</em></p>
              </div>
            </div>
          </div>

          <div class="card card-size">
            <div class="card-body">
              <h3 class="card-title">Management </h3>
              <div class="card-text text">
                <p class="mb-1">Une politique ambitieuse de réduction de vos déchets est un élément <strong>valorisant</strong>, de plus en plus <strong>attendu par vos salarié·e·s</strong>, d'ailleurs souvent déjà pratiquée dans leur vie personnelle.</p>
                <p>La démarche ZD est une formidable opportunité de <strong>mobiliser vos équipes autour d’un projet commun</strong>, dépassant les fonctions de chacun·e et de contribuer au <strong>mieux-vivre dans votre structure</strong>.</p>
              </div>
            </div>
          </div>
        </figure>
      </div>

      <div class="col-12 pl-2 pr-2 col-md-6 col-lg-4">
        <figure class="card card-flip">
          <div class="card card-size">
             <div class="card-img-top  d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url(<%= image_path("image.jpg")%>)">
              <h3 class="card-title">Communication</h3>
            </div>
            <div class="card-body">
              <div class="card-text fact">
                <p class="citation"> <strong>82 % des entreprises </strong>considèrent le Développement Durable comme un facteur de différenciation</p>
                <p class="source"><em>Source: Gallup 2011</em></p>
              </div>
            </div>
          </div>

          <div class="card card-size">
            <div class="card-body">
              <h3 class="card-title">Communication</h3>
              <div class="card-text text">
                <p class="mb-1">Tout comme les salarié·e·s, vos client·e·s, fournisseurs, administré·e·s, bénéficiaires et partenaires sont de plus en plus regardants sur les <strong>agissements</strong> des structures professionnelles en matière de <strong>Développement Durable</strong>, et notamment en ce qui concerne les déchets.</p>
                <p>Mettre en valeur votre <strong>engagement environnemental</strong> et vos actions dans une <strong>démarche ZD</strong> contribue positivement à votre image externe.</p>
              </div>
            </div>
          </div>
        </figure>
      </div>

      <div class="col-12 pl-2 pr-2 col-md-6 col-lg-4">
        <figure class="card card-flip">
          <div class="card card-size">
            <div class="card-img-top  d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url(<%= image_path("economie.jpg")%>)">
              <h3 class="card-title">Economie</h3>
            </div>
            <div class="card-body">
              <div class="card-text fact">
                <p class="citation">Plus de <strong>14x la seule facture du prestataire déchets </strong>: le coût complet des déchets</p>
                <p class="source"><em>Source : ADEME 2010</em></p>
              </div>
            </div>
          </div>

          <div class="card card-size">
            <div class="card-body">
              <h3 class="card-title">Economie</h3>
              <div class="card-text text">
                <p>Le <strong>coût complet</strong> de vos déchets inclut les coûts de :</p>
                <ul class="list bullet-custom">
                  <li>la gestion des déchets (collectivité publique ou prestataire privé),</li>
                  <li>la gestion interne (temps passé, matériel, espace de stockage...),</li>
                  <li>la génération (coût d’achat des objets et emballages qui deviennent des déchets),</li>
                  <li>du temps passé aux achats (sourcing, mise en concurrence, contrat),</li>
                </ul>
                <p>Une meilleure gestion, alliée à une démarche de réduction, permet de <strong>diminuer le coût global de vos déchets</strong>.</p>
              </div>
            </div>
          </div>
        </figure>
      </div>

      <div class="col-12 pl-2 pr-2 col-md-6 col-lg-4">
        <figure class="card card-flip">
          <div class="card card-size">
            <div class="card-img-top  d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url(<%= image_path("logistique.jpg")%>)">
              <h3 class="card-title">Logistique</h3>
            </div>
            <div class="card-body">
              <div class="card-text fact">
                <p class="citation">Des contenants adaptés font gagner de <strong>2 à 10x plus d’espace</strong> et améliorent la logistique d'évacuation</p>
                <p class="source"><em>Source : Solution Recyclage</em></p>
              </div>
            </div>
          </div>

          <div class="card card-size">
            <div class="card-body">
              <h3 class="card-title">Logistique</h3>
              <div class="card-text text">
                <p class="mb-1">Les déchets stockés en vrac dans une benne ou dans un bac prennent beaucoup de place, et ne sont pas triés.</p>
                <p class="mb-1">Des contenants adaptés font gagner de 2 à 10 fois plus d’espace et améliorent la logistique d'évacuation. </p>
                <p class="mb-1">Optimiser le rangement et réduire ses déchets permettent ainsi de <strong>diminuer l'espace de stockage et d'optimiser la logistique</strong>.</p>
              </div>
            </div>
          </div>
        </figure>
      </div>

      <div class="col-12 pl-2 pr-2 col-md-6 col-lg-4">
        <figure class="card card-flip">
          <div class="card card-size">
            <div class="card-img-top  d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url(<%= image_path("reglementation.jpg")%>)">
              <h3 class="card-title">Réglementation</h3>
            </div>
            <div class="card-body">
              <div class="card-text fact">
                <p class="citation"><strong>5 flux de déchets</strong> doivent obligatoirement être triés et valorisés</p>
                <p class="source"><em>Source : "décret 5 flux"</em></p>
              </div>
              <div id="pourquoi2"></div>
            </div>
          </div>

          <div class="card card-size">
            <div class="card-body">
              <h3 class="card-title">Réglementation</h3>
              <div class="card-text text">
                <p class="mb-1">Tout producteur de déchet en est <strong>responsable jusqu’à leur élimination finale</strong>.
                <em>(article L 541-2 et L 541-22 du code de l’environnement)</em></p>
                <p>Les entreprises ont désormais une obligation générale de tri de leurs déchets, qui concerne 5 flux de déchets (bois, plastiques, métaux, verre, papier/carton). Elles doivent les <strong>trier à la source et organiser leur collecte séparément des autres déchets pour permettre leur valorisation</strong>.
                <em>(“décret 5 flux” du 10 mars 2016)</em></p>
              </div>
            </div>
          </div>
        </figure>
      </div>
    </div>

    <div class="title mt-5 mb-4" >
      <h2 class="green-bg"> Participer au Défi Zéro Déchet des pro </h2>
    </div>

    <div class="row padding">
      <div class="col-12 pl-2 pr-2  col-md-6 col-lg-4">
        <figure class="card card-flip">
          <div class="card card-size-small">
            <div class="card-img  d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url(<%= image_path("valeur.jpg")%>)">
              <h3 class="card-title">Etre mis en valeur</h3>
            </div>
          </div>

          <div class="card card-size-small">
            <div class="card-body">
              <h3 class="card-title">Etre mis en valeur</h3>
              <div class="card-text text">
                Une <strong>communication externe</strong> sera mise en œuvre tout au long du défi, et notamment lors de l'événement de clôture, <strong>pour valoriser les participants</strong> et leurs <strong>accomplissements</strong>.
              </div>
            </div>
          </div>
        </figure>
      </div>

      <div class="col-12 pl-2 pr-2  col-md-6 col-lg-4">
        <figure class="card card-flip">
          <div class="card card-size-small">
            <div class="card-img  d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url(<%= image_path("inclure.jpg")%>)">
              <h3 class="card-title">Inclure vos équipes</h3>
            </div>
          </div>

          <div class="card card-size-small">
            <div class="card-body">
              <h3 class="card-title">Inclure vos équipes</h3>
              <div class="card-text text">
                Le Défi a pour objectif d'impliquer tous les salariés de la structure, de générer une réelle <strong>collaboration</strong>. Ainsi participer au projet permet, au sein de chaque structure, d'<strong>agir ensemble</strong>, de <strong>fédérer</strong> et <strong>mobiliser</strong> une équipe autour d'un <strong>projet commun</strong>.
              </div>
            </div>
          </div>
        </figure>
      </div>

      <div class="col-12 pl-2 pr-2  col-md-6 col-lg-4">
        <figure class="card card-flip">
          <div class="card card-size-small">
            <div class="card-img  d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url(<%= image_path("dechet.jpg")%>)">
              <h3 class="card-title">Agir sur vos déchets de fonctionnement</h3>
            </div>
          </div>

          <div class="card card-size-small">
            <div class="card-body">
              <h3 class="card-title">Agir sur vos déchets de fonctionnement</h3>
              <div class="card-text text">
                <strong>Toute personne, toute entreprise est concernée par les déchets de fonctionnement</strong> (papier, stylos, ordinateurs, gobelets de café, emballages etc).  Les changements à ce niveau demandent en général <strong>peu d'investissements</strong> et sont <strong>rapides à mettre en place</strong>.
              </div>
            </div>
          </div>
        </figure>
      </div>

      <div class="col-12 pl-2 pr-2  col-md-6 col-lg-4">
        <figure class="card card-flip">
          <div class="card card-size-small">
            <div class="card-img  d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url(<%= image_path("collectif.jpg")%>)">
              <h3 class="card-title">Une approche collective</h3>
            </div>
          </div>

          <div class="card card-size-small">
            <div class="card-body">
              <h3 class="card-title">Une approche collective</h3>
              <div class="card-text text">
                L'intérêt du défi est de <strong>mettre en commun</strong> les doutes, les difficultés, les idées, les bonnes pratiques. Les déchets de fonctionnement concernent toutes les structures, ce qui permet de se <strong>nourrir des expériences des autres</strong>.
              </div>
            </div>
          </div>
        </figure>
      </div>

      <div class="col-12 pl-2 pr-2  col-md-6 col-lg-4">
        <figure class="card card-flip">
          <div class="card card-size-small">
            <div class="card-img  d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url(<%= image_path("comportemental.jpg")%>)">
              <h3 class="card-title px-4">Une démarche comportementale</h3>
            </div>
          </div>

          <div class="card card-size-small">
            <div class="card-body">
              <h3 class="card-title">Une démarche comportementale</h3>
              <div class="card-text text">
                L'idée est de vous accompagner  pour que vous <strong>agissiez par  vous-mêmes : faire émerger vos idées</strong>, vous <strong>aider</strong> dans les choix et la mise en place de solutions. Le but est de <strong>changer les comportements dans la durée</strong>, de provoquer <strong>l'engagement et l'action</strong>.
              </div>
            </div>
          </div>
        </figure>
      </div>

      <div class="col-12 pl-2 pr-2  col-md-6 col-lg-4">
        <figure class="card card-flip">
          <div class="card card-size-small">
            <div class="card-img  d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url(<%= image_path("accompagnement.jpg")%>)">
              <h3 class="card-title">Un accompagnement professionnel</h3>
            </div>
          </div>

          <div class="card card-size-small">
            <div class="card-body">
              <h3 class="card-title">Un accompagnement professionnel</h3>
              <div class="card-text text">
                Tout au long du défi, un <strong>suivi</strong> des déchets et des comportement est effectué en interne. Des <strong>rencontres collectives régulières</strong>, ainsi qu'un <strong>accompagnement personnalisé</strong> permettent à chaque structure de fertiliser le terreau emmenant à l'<strong>action collective et durable</strong>.
              </div>
            </div>
          </div>
        </figure>
      </div>

      <div class="col-12 pl-2 pr-2">
        <figure class="card card-flip">
          <div class="card card-size-small">
            <div class="card-img  d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url(<%= image_path("win.jpg")%>)">
              <h3 class="card-title">Pour gagner !</h3>
            </div>
          </div>

          <div class="card card-size-small">
            <div class="card-body">
              <h3 class="card-title">Pour gagner !</h3>
              <div class="card-text text">
                <p class="mb-1">Le défi apporte également une émulation collective car la <strong>compétition</strong> favorise l'envie de <strong>s'améliorer</strong> et de finir gagnant.</p>
                <p>La cerise sur la gâteau, en plus de tous les autres avantages du Défi, c'est de gagner ! <strong>La plus belle évolution</strong> (réduction des déchets ultimes et changement de comportements) donnera un <strong>vainqueur</strong>, qui sera mis en avant dans toute la communication externe.</p>
              </div>
            </div>
          </div>
        </figure>
      </div>
    </div>


  </div>
  <%= render 'shared/footer' %>
</div>
