<div class="wrapper">
  <div class="container">
    <div id="soutenir1"></div>
    <div class="container-soutenir bg-white px-5 my-5">
      <h1 class="header text-primary text-center mt-5 pt-5">Soutenir</h1>
      <h4 class="text-center"> Le projet étant porté par une association, il a besoin de vous pour être mis en œuvre ! </h4>

      <div class="row">
        <div class="col-lg-6 px-4">
          <h2 class="mt-5 mb-4 green-bg">Mécener</h2>
          <div id="soutenir2"></div>
          <div class="text">
            <p class="mb-0">En vous engageant à nos côtés par votre <b>soutien</b>, votre entreprise sera <b>associée à la démarche d'exemplarité et d'innovation</b> de ce projet en matière de réduction des déchets, et bénéficiera d'une <b>réduction fiscale</b> de 60% de votre don sur votre impôt sur les sociétés. Vous pouvez aussi choisir un <b>soutien en nature</b> (prêt ou achat de matériel, fournitures...) <b>ou en compétences</b>.</p>
            <p class="mb-0">Pour en savoir plus sur vos avantages à nous soutenir, et mieux connaître nos besoins, consultez le <%= link_to "dossier de mécénat", dossier_de_mecenat_path %>.</p>
          </div>
        </div>

        <div class="col-lg-6 px-4">
          <div>
            <div id="soutenir4"></div>
            <h2 class="mt-5 mb-4 green-bg">Témoigner</h2>
            <p class='mb-0 text'>Vous êtes un professionnel.le <b>déjà engagé.e</b> dans une démarche de réduction des déchets ? Vous avez mis en place plusieurs gestes dans votre structure ? Vous êtes une <b>entreprise éco exemplaire</b> ?</p>
            <p class="text mb-0"><b>Partagez votre expérience</b> ! Mettez en valeur votre entreprise et vos employés ! Votre témoignage sera inspirant pour d'autres, qui bénéficieront de votre retour d'expérience et voudront s'engager également.
            </p>
          </div>
          <p class="d-flex justify-content-center mt-4 mb-0">
            <%= link_to "Contactez-nous !", contact_path, class:"btn btn-primary text-white bold" %>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 px-4">
          <h2 class="mt-5 mb-4 green-bg">Donner</h2>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <%= image_tag "Don.jpg", width:200, height: 200 %>
            <p class="text pt-2">
              Les particuliers peuvent également soutenir le projet, à travers le don. <b>Chaque contribution est importante</b>, quelque soit le montant.
            </p>
            <%= link_to "Nous soutenir", "https://www.helloasso.com/associations/ekolo-geek/formulaires/1", class:"btn btn-primary text-white mb-4 bold", target:"_blank" %>
          </div>
        </div>
        <div class="col-lg-6 px-4">
          <div id="soutenir3"></div>
          <h2 class="mt-5 mb-4 green-bg">Partager / communiquer</h2>
          <div class="d-flex flex-column justify-content-center">
            <p class="text">
              <b>Faîtes connaître le Défi</b> ! Dans vos différents réseaux personnels et professionnels, vos outils de communication etc. Voici des liens et outils que vous pouvez utiliser.
            </p>
            <ul class="list mb-4 bullet-custom">
              <li class="my-2">
                <%= link_to "Dossier de mécénat", dossier_de_mecenat_path %>
              </li>
              <li class="my-2">
                <%= link_to "Charte graphique", charte_graphique_path %>
              </li>
              <li class="my-2">
                <%= link_to "Logo", logo_RVB_path %>
              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
