<div class="wrapper">
  <div class="container">
    <div id="soutenir1"></div>
    <h1 class="header text-primary my-5 pt-5 text-center">Soutenir</h1>
    <p>Le projet étant porté par une association, il a <b>besoin de vous</b> pour être mis en œuvre ! </p>
    <div class="mecenat">
      <h2 class="mb-3 green-bg">Mécenat</h2>
      <div id="soutenir2"></div>
      <div class="text">
        <p class="mb-0">En vous engageant à nos côtés par votre <b>soutien</b>, votre entreprise sera <b>associée à la démarche d'exemplarité et d'innovation</b> de ce projet en matière de réduction des déchets, et bénéficiera d'une <b>réduction fiscale</b> de 60% de votre don sur votre impôt sur les sociétés. Vous pouvez aussi choisir un <b>soutien en nature</b> (prêt ou achat de matériel, fournitures etc...) <b>ou en compétences</b>.</p>
        <p>Pour en savoir plus sur vos avantages à nous soutenir, et mieux connaître nos besoins, consultez le <b>dossier de mécénat</b> ==> mettre un lien.</p>
      </div>
      <h2 class="mb-3 green-bg">Don</h2>
      <div class="row">
        <div class="col-lg-6 padding">
          <div class="d-flex justify-content-center">
            <%= image_tag "Don", width:300, height: 300 %>
          </div>
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
          <p>
            Les particuliers peuvent également soutenir le projet, à travers le don. <b>Chaque contribution est importante</b>, quelque soit le montant.
          </p>
          <%= link_to "Nous soutenir", "https://www.helloasso.com/associations/ekolo-geek/formulaires/1", class:"btn btn-primary text-white mb-5", target:"_blank" %>
        </div>
      </div>
    </div>
    <div>
      <div id="soutenir3"></div>
      <h2 class="mb-3 green-bg">Partage</h2>
      <p class="text">
        <b>Faîtes connaître le Défi</b> ! Dans vos différents réseaux personnels et professionnels, vos outils de communication etc. Voici des liens et outils que vous pouvez utiliser.
      </p>
      <ul class="list mb-3 bullet-custom">
        <li class="my-2 ml-lg-4">
          Dossier de mécénat
        </li>
        <li class="my-2 ml-lg-4">
          Charte Graphique
        </li>
        <li class="my-2 ml-lg-4">
          Logo
        </li>
      </ul>
      <p class="text">
        Ces docs sont sur le drive. D'autres supports seront ajoutés en novembre.Pour la présentation vous pouvez vous inspirez de <%= link_to "ça", "https://docs.google.com/spreadsheets/d/1QC1h-YlOMGTor4QFJ8QrR3RTvzQ83j9UpqG8uc5D9IA/edit#gid=0", target:"_blank"%>. ==> utiliser leurs docs
      </p>
    </div>
    <div class="padding">
      <div id="soutenir4"></div>
      <h2 class="mb-3 green-bg">Témoignage</h2>
      <p class='mb-0'>Vous êtes un professionnel.le <b>déjà engagé.e</b> dans une démarche de réduction des déchets ? Vous avez mis en place plusieurs gestes dans votre structure ? Vous êtes une <b>entreprise éco exemplaire</b> ?</p>
      <p><b>Partagez votre expérience</b> ! Mettez en valeur votre entreprise et vos employés ! Votre témoignage sera inspirant pour d'autres, qui bénéficieront de votre retour d'expérience et voudront s'engager également.
      </p>
      <%= link_to "Contact", root_path, class:"btn btn-primary text-white" %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
