<div class="wrapper down">
    <div class="container bg-white container-padding my-5">
      <h1 class="header text-primary text-center pt-5 mt-5">S'inscrire</h1>
      <h2 class="mt-5 mb-4 green-bg">Bordeaux Métropole</h2>
      <div class="row">
        <div class="col-lg-6 text d-flex flex-column justify-content-center">
          <h3>Qui peut candidater ?</h3>
          <p class="mb-0">Tout professionnel de Bordeaux Métropole (effectif ≥ 2 personnes). Pour ce
          premier Défi Zéro Déchet des Pros, afin d'assurer un accompagnement de
          qualité, nous accompagnerons 15 structures professionnelles (collectivités
          et établissements publics, sociétés, associations...)</p>
          <p>Chaque structure est représentée par un·e référent·e.</p>
          <h3>Comment candidater ?</h3>
          <p>En remplissant le formulaire ci-dessous, vous recevrez ensuite des
          identifiants pour accéder à votre compte candidat. Vous pourrez alors
          répondre à quelques questions sur un formulaire en ligne. Notre équipe est
          à votre disposition pour vous aider.</p>
          <h3>Calendrier :</h3>
          <ul class="list bullet-custom mb-0">
            <li>
              <b>6 déc. 2018 - 10h-12h - <%= link_to "Athénée municipal de Bordeaux", "https://www.google.fr/maps/place/Ath%C3%A9n%C3%A9e+Municipal/@44.8408871,-0.5812093,14z/data=!4m5!3m4!1s0xd5527db54fa1269:0x927f5e7ea3fbca9!8m2!3d44.8398049!4d-0.577148?hl=fr", target: :blank, class:"cool-link"%> :</b> Réunion d’information pour les structures
            </li>
            <li>
              <b>31 déc. 2018 :</b> Clôture des inscriptions
            </li>
            <li>
              <b>9 jan. 2018 :</b> Annonce des 15 structures sélectionnées
            </li>
            <li>
              <b>17 jan. 2019 :</b> Lancement du Défi Zéro Déchet des Pros (rencontre collective des structures participantes)
            </li>
          </ul>
        </div>

        <div class="col-lg-6">
          <div class="d-flex flex-column align-items-center h-100 mb-3">
            <%= image_tag "carte.png", class:"header-padding-comment-image" %>
          </div>
        </div>
      </div>
      <h2 class="mt-5 mb-4 green-bg">Hors Bordeaux Métropole</h2>
      <p class="text mb-0">Votre structure n'est pas située sur Bordeaux Métropole ? <b>Vous pouvez organiser un défi sur votre territoire</b> ! Ekolo[geek] vous accompagne et vous fournit les outils pour que vous le fassiez vous-même!</p>

      <h2 class="mt-5 mb-4 green-bg">Formulaire d'inscription</h2>

      <%= simple_form_for @company do |company| %>
        <p class="mb-0">Veuillez compléter les informations ci-dessous afin de créer votre compte candidat:</p>
        <p class="red">*Obligatoire</p>

        <h3>Structure</h3>
        <div class="row">
          <div class="col-12 col-md-6">
            <%= company.input :name, placeholder: 'Nom de la structure*', label: false %>
          </div>
          <div class="col-12 col-md-6">
            <%= company.input :town, prompt: 'Ville de Bordeaux Métropole*', collection: ["Ambarès-et-Lagrave", "Ambès", "Artigues-près-Bordeaux", "Bassens",
              "Bègles", "Blanquefort", "Bordeaux", "Bouliac", "Bruges", "Carbon-Blanc",
              "Cenon", "Eysines", "Floirac", "Gradignan", "Le Bouscat", "Le Haillan",
              "Le Taillan-Médoc", "Lormont", "Martignas-sur-Jalle", "Mérignac",
              "Parempuyre", "Pessac", "Saint-Aubin-de-Médoc", "Saint-Louis-de-Montferrand",
              "Saint-Médard-en-Jalles", "Saint-Vincent-de-Paul", "Talence"], as: :select, label: false  %>
          </div>
        </div>

        <h3>Référent·e</h3>
        <%= company.simple_fields_for @user do |user|%>
          <div class="row">
            <div class="col-12 col-md-3">
              <%= user.input :civility, prompt: 'Civilité*', collection: ["Mme", "M."], as: :select, label: false  %>
            </div>
            <div class="col-12 col-md-3">
              <%= user.input :first_name, placeholder: 'Prénom*', label: false  %>
            </div>
            <div class="col-12 col-md-3">
              <%= user.input :last_name, placeholder: 'NOM*', label: false  %>
            </div>
            <div class="col-12 col-md-3">
              <%= user.input :role, placeholder: 'Fonction*', label: false  %>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-3">
              <%= user.input :telephone, placeholder: 'Téléphone*', label: false  %>
            </div>
            <div class="col-12 col-md-6">
              <%= user.input :email, placeholder: 'Email*', label: false  %>
            </div>
            <div class="col-12 col-md-3 mb-4">
              <%= user.input :password, placeholder: 'Mot de passe*', label: false  %>
            </div>
            <div class="col-12 ml-3">
              <%= user.input :newsletter_dzd, label: "Oui, je veux recevoir la newsletter du Défi Zéro Déchet des Pros" %>
            </div>
            <div class="col-12 ml-3">
              <%= user.input :newsletter_ekg, label: "Oui, je veux recevoir la newsletter mensuelle de l’#{link_to 'association Ekolo[geek]', partenaires_path, target: :blank, class:"cool-link"} (ex. contenu : actualités, recette de saison, Acte ekolo[geek]...)".html_safe %>
            </div>
          </div>
        <% end %>
        <div class="col-12 fsmb-0">
          <%= company.input :usage_acceptance, label: "En créant un compte candidat, vous consentez à ce que les informations recueillies soient utilisées par l’association dans le but de sélectionner les établissements participants", class:"mb-0" %>
         </div>
         <p class="minus pl-35 mb-0">Conformément au règlement européen 2016/679 dit RGPD et à la loi du 6 janvier 1978 modifiée, vous disposez d’un droit d’accès, de rectification et d’opposition aux informations qui vous
         concernent ainsi qu’un droit à la limitation du traitement de ces données, droits que vous pouvez exercer en vous adressant par courriel à pauline.r@ekologeek.com. Si vous estimez, après
         nous avoir contactés, que vos droits sur vos données ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.</p>
        <div class="d-flex flex-column justify-content-center align-items-center pb-5">
          <%= company.button :submit, "Créer un compte", class:"btn btn-primary text-white bold mt-5 mb-4" %>
          <p class="green-bg bold">Vous allez recevoir un mail de confirmation</p>
        </div>
      <% end %>
    </div>
  <%= render 'shared/footer' %>
</div>
