<div class="wrapper down">
    <div class="container bg-white container-padding my-5">
      <h1 class="header text-primary text-center pt-5 mt-5">S'inscrire</h1>
      <p>La 1ère édition du Défi Zéro Déchet des Pros a débuté sur Bordeaux Métropole en janvier 2019 et se clôture en juin 2019, avec 10 structures participantes :</p>
      <h2 class="mt-5 green-bg">Participants au projet</h2>
      <div class=" d-flex justify-content-center my-5 officielle">
        <%= image_tag "photo_officielle.jpg", height: 450 %>
      </div>
      <div class="row d-flex text-align-center justify-content-center pb-5">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 pr-2 d-flex align-items-center justify-content-center">
          <%= link_to "https://175avocats.com/", target: :blank do %>
          <%= image_tag "175avocats_or.png", height: 60 %>
          <% end %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 pr-2 d-flex align-items-center justify-content-center">
          <%= link_to "http://aremacs.com/", target: :blank do %>
          <%= image_tag "aremacs.png", height: 40 %>
          <% end %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 px-4 pr-2 d-flex align-items-center justify-content-center">
          <%= link_to "http://www.ensam.eu/", target: :blank do %>
          <%= image_tag "arts-et-metiers.png", height: 40 %>
          <% end %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 px-4 d-flex align-items-center justify-content-center">
          <%= link_to "http://www.bel-air-musique.com/", target: :blank do %>
          <%= image_tag "bel-air-musique.png", width: 60 %>
          <% end %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 px-4 d-flex align-items-center justify-content-center">
          <%= link_to "https://www.biocoop.fr/magasins-bio/Trouver-mon-magasin-Biocoop?department=1074", target: :blank do %>
          <%= image_tag "biocoop.png", width: 60 %>
          <% end %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 px-4 d-flex align-items-center justify-content-center">
          <%= link_to "http://agence-bloom.fr/", target: :blank do %>
          <%= image_tag "bloom.png", width: 60 %>
          <% end %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 px-4 d-flex align-items-center justify-content-center">
          <%= link_to "http://www.chloe-bodart.fr/", target: :blank do %>
          <%= image_tag "chloe_bodart_construire.jpg", width: 60 %>
          <% end %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 px-4 d-flex align-items-center justify-content-center">
          <%= link_to "https://www.distriartisan.fr/", target: :blank do %>
          <%= image_tag "distri_artisan.png", width: 100 %>
          <% end %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 px-4 d-flex align-items-center justify-content-center">
          <%= link_to "https://ekylibre.com/", target: :blank do %>
          <%= image_tag "ekylibre.png", width: 60 %>
          <% end %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 px-4 d-flex align-items-center justify-content-center">
          <%= link_to "https://www.espaces-atypiques.com/bordeaux/", target: :blank do %>
          <%= image_tag "espaces-atypiques.png", width: 100 %>
          <% end %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 px-4 d-flex align-items-center justify-content-center">
          <%= link_to "http://www.jhas.fr/", target: :blank do %>
          <%= image_tag "JHAS.jpg", width: 100 %>
          <% end %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 px-4 d-flex align-items-center justify-content-center">
          <%= link_to "http://www.jla.fr/", target: :blank do %>
          <%= image_tag "JLA.png", width: 100 %>
          <% end %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 px-4 d-flex align-items-center justify-content-center">
          <%= link_to "http://lalternativebordeaux.fr", target: :blank do %>
          <%= image_tag "lalternative.png", width: 60 %>
          <% end %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 px-4 d-flex align-items-center justify-content-center">
          <%= link_to "http://www.lenno.fr/", target: :blank do %>
          <%= image_tag "lenno.png", width: 60 %>
          <% end %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 px-4 d-flex align-items-center justify-content-center">
          <%= link_to "https://ess.bordeaux-metropole.fr/Actualites/Le-Point-commun-a-Bordeaux-un-lieu-d-entrepreneuriat-pour-une-societe-solidaire", target: :blank do %>
          <%= image_tag "point-commun.png", width: 60 %>
          <% end %>
        </div>
      </div>
      <hr/>
      <p class="text-center mt-5">Pour recevoir les actualités du Défi Zéro Déchet des Pros, inscrivez-vous à notre newsletter !</p>
      <div class="newsletter">
          <%= render "pages/newsletter"  %>
        <p class="text-center m-0">Votre adresse de messagerie est uniquement utilisée pour vous envoyer les lettres d'information du Défi Zéro Déchet des Pro.</p>
        <p class="text-center mb-5">Vous pouvez à tout moment utiliser le lien de désabonnement intégré dans la newsletter. <%= link_to "En savoir plus sur la gestion de vos données et vos droits", politique_path, class:"cool-link" %></p>
      </div>
      <hr/>
      <b><p class="my-5">Si vous souhaitez participer à la prochaine édition du Défi Zéro Déchet des Pros (fin 2019), <%= link_to "contactez-nous", contact_path %> pour rester informé.e et faire partie des premiers participants.</p></b>
    </div>
  <%= render 'shared/footer' %>
</div>
