<div class="container bg-white">
  <h1 class="mt-5 mb-4 header text-primary text-center">DIAGNOSTIC COMPORTEMENTAL DE LA STRUCTURE</h1>

  <p class="text-center mt-4">Progression : <b>page 3 sur 3</b> </p>
  <div class="dots d-flex justify-content-center">
    <span class="blue"></span>
    <span class="blue"></span>
    <span class="blue"></span>
  </div>
  <h2 class="mt-4 mb-4 green-bg">Généralités</h2>

  <%= simple_form_for(@company_behaviour, method: :put, url: wizard_path) do |f| %>

    <p class="mt-4"><b>8.</b> Selon vous, en tant que référent·e, combien d’actions de gestion et/ou de tri des déchets mises en place par votre structure sont pratiquées par vos collaborateur·rice·s au quotidien ?</p>
    <%= f.collection_radio_buttons :daily_actions_diag, ["Aucune action", "Très peu d’action", "Quelques actions", "La majorité des actions", "Toutes les action", " Non communiqué"], :to_s, :to_s do |input| %>
      <label class="mx-2 mb-3">
        <%= input.radio_button %>
        <%= input.text %>
      </label>
    <% end %>

    <div class="d-flex justify-content-around mb-5 mt-4">
      <%= link_to "< Précédent", previous_wizard_path, class:"btn btn-primary bold" %>
      <%= f.button :submit, "Suivant >", class:"btn btn-primary bold" %>
    </div>

  <% end %>

</div>
