<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50874223-2"></script>
    <script>
      window.dataLayer     = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-50874223-2');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DZD Pros</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body>
    <%= render 'shared/navbar_secondary' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/carousel' %>
      <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
