<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ekolo[geek]</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar_secondary' %>
    <div class="d-flex flex-column">
      <%= render 'shared/flashes' %>
      <%= render 'shared/hint-border' %>
      <%= render 'shared/navbar_primary' %>
      <%= render 'shared/carousel' %>
      <%= yield %>
      <%= render 'shared/hint-border' %>
      <%= render 'shared/footer' %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
