<div class="container bg-white">
  <h1 class="my-5 header text-primary text-center">FORMULAIRE DE CANDIDATURE</h1>
  <p class="text-center">Progression : <b>page 2 sur 5</b> </p>
  <h2 class="mt-5 mb-4 green-bg">La gestion des déchets dans votre structure</h2>

  <%= simple_form_for(@form, method: :put, url: wizard_path) do |f| %>
    <!-- <p>#rajouter la q5</p> -->
    <%= f.input :trash_indicator, label: "6. Disposez-vous d'indicateurs de suivi de votre production de déchets ? (exemple : kg/mois, litre/semaine, nombre de bacs ou poubelles...)", collection: ["Oui", "Non", "Non communiqué"], as: :radio_buttons %>
    <div class="pl-4">
      <%= f.input :trash_indicator_list, label: "Si oui, lesquels ?" %>
    </div>
    <%= f.input :trash_types, label: "7. Quels sont les 3 principaux types de déchets produits dans votre structure ?" %>
    <!-- <p>#rajouter la q8</p> -->
    <%= f.input :trash_sorting, label: "9. Votre structure fait-elle le tri des déchets ?", collection: ["Oui", "Non", "Non communiqué"], as: :radio_buttons %>
    <div class="pl-4">
      <%= f.input :trash_sorting_types, label:"Si oui, pour quels types de déchets ?" %>
    </div>
    <%= f.input :trash_sorting_quality, label: "10. Que pensez-vous de la qualité du tri dans votre structure ?", collection: ["0", "1", "2", "3", "4"], as: :radio_buttons %>
    <%= f.input :trash_sorting_knowledge, label: "11. Dans quelle mesure votre structure connaît-elle l'obligation de tri 5 flux ?", collection: ["0", "1", "2", "3", "4"], as: :radio_buttons %>
    <div class="d-flex justify-content-around mb-5 mt-4">
      <%= link_to "< Précédent", previous_wizard_path, class:"btn btn-primary bold" %>
      <%= f.button :submit, "Suivant >", class:"btn btn-primary bold" %>
    </div>
  <% end %>
</div>


